.card {
  height: 200px;
  padding: 8px 24px;
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  border: 1px solid rgb(226, 226, 226);

  .title {
    font-size: 2rem;
  }

  .description {
    width: 100%;
    height: 100%;
    margin: auto;
    font-size: 1.5rem;
    color: rgb(180, 180, 180);
  }
}
